//flexslider nav controls
.flex-control-nav {
  display: none;
}

.flex-direction-nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;

  li {
    height: inherit;
    display: flex;
    align-items: center;
    content: "";

    .flex-prev {
      &::before {
        content: "";
        color: $white;
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.6em;
        width: 0.6em;
        left: 0;
        transform: rotate(-135deg);
      }
    }

    .flex-next {
      &::before {
        content: "";
        color: $white;
        border-style: solid;
        border-width: 0.1em 0.1em 0 0;
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.6em;
        width: 0.6em;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }
}
