#header {
  z-index: 9999;

  @include for-desktop-up {
    position: fixed;
    left: 0;
    right: 0;
  }

  #menu {
    width: 100%;
    background: linear-gradient(
      165.83deg,
      #ffffff 26.66%,
      #ffffff 26.82%,
      #ffffff 27.36%,
      #2f4085 49.92%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    #menu-links {
      display: flex;
      justify-content: space-between;
      @include boxedContent;
      @include all-mobile-devices {
        padding: 0.5rem 1rem;
        position: relative;
      }

      .menu-top-container {
        align-self: center;
        z-index: 9999;
        //IE11
        -ms-overflow-x: hidden;

        @include all-mobile-devices {
          position: absolute;
          top: 126px;
          left: 0;
          width: 100%;
          pointer-events: none;
        }

        #menu-top {
          display: flex;
          list-style: none;

          li {
            padding: 2rem;

            a {
              color: $white;
              text-decoration: none;
            }
          }

          @include all-mobile-devices {
            flex-direction: column;
            background-color: $blue;
            align-items: center;
            height: 100vh;
            transform: translateX(100%);
            @supports (
              ((-webkit-clip-path: circle(0px)) or (clip-path: circle(0px)))
            ) {
              transform: translateX(0%);
              -webkit-clip-path: circle(100px at 90% -30%);
              clip-path: circle(100px at 90% -30%);
              transition: -webkit-clip-path 1s ease-out;
              transition: clip-path 1s ease-out;
              transition: clip-path 1s ease-out, -webkit-clip-path 1s ease-out;
            }
          }

          //Sub menu styling for desktop

          .menu-item-has-children {
            text-align: center;
            @include for-desktop-up {
              position: relative;
              &:hover {
                .sub-menu {
                  visibility: visible;
                  pointer-events: all;
                  transform: translateX(0px);
                  -webkit-transform: translateX(0px);
                  -moz-transform: translateX(0px);
                  -ms-transform: translateX(0px);
                  -o-transform: translateX(0px);
                }
              }

              .sub-menu {
                position: absolute;
                visibility: hidden;
                background: $blue;
                pointer-events: none;
                border-top: 2px solid $white;
                transform: translateX(20px);
                -webkit-transform: translateX(20px);
                -moz-transform: translateX(20px);
                -ms-transform: translateX(20px);
                -o-transform: translateX(20px);
              }
            }
          }
        }

        //Mobile menu visibility class
        #menu-top.open {
          z-index: 9999;
          transform: translateX(0%);
          @include for-phone-only {
            @supports (
              ((-webkit-clip-path: circle(0px)) or (clip-path: circle(0px)))
            ) {
              -webkit-clip-path: circle(1000px at 90% -30%) !important;
              clip-path: circle(1000px at 90% -30%) !important;
            }
          }
          @include for-tablet-only {
            @supports (
              ((-webkit-clip-path: circle(0px)) or (clip-path: circle(0px)))
            ) {
              -webkit-clip-path: circle(1500px at 90% -30%) !important;
              clip-path: circle(1500px at 90% -30%) !important;
            }
          }
        }
      }

      //Class to allow mobile menu items to be clickable
      .clickable {
        pointer-events: all !important;
      }
      //Mobile Menu
      #mobile-menu {
        @include all-mobile-devices {
          display: flex;
          align-items: center;
          //background-color: $dark-grey;
          color: $white;
          padding: 0.5rem 1rem;
          cursor: pointer;
        }

        @include for-desktop-up {
          display: none;
        }

        .menu-text {
          font-family: $font-family;
        }

        .menu-button {
          span {
            display: block;
            background-color: $white;
            width: 30px;
            height: 3px;
            margin: 5px 0;
            transition: 0.5s;
          }

          /*menu button animation on click*/
          span.open:nth-child(2) {
            transform: rotate(45deg) translate(1px, 1px);
          }

          span.open:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }

          span.open:nth-child(1) {
            opacity: 0;
          }
        }
        .menu-text {
          padding: 0.5rem;
        }
      }
    }
  }
  .sub-links-container {
    width: 100%;
    display: block;
    background-color: $red;
    padding: 0.5rem 0rem;
    .sub-links {
      @include boxedContent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      //add dividing lines
      @include not-last-child(".sub-link") {
        border-right: 2px solid $white;
      }
      .sub-link {
        flex: 1;
        @include flexCenter;

        img {
          max-width: 50px;
          padding: 0.5rem;
          vertical-align: middle;

          @include all-mobile-devices {
            max-width: 45px;
          }
        }
        a,
        p {
          color: $white;
          font-weight: 600;
          font-size: 0.8rem;
          text-decoration: none;
          display: block;
          text-align: center;
        }

        p {
          @include all-mobile-devices {
            display: none;
          }
        }
      }
    }
  }
}

.screen-reader-text {
  display: none;
}
