.__main-services {
  
  .services {
    background-color: $blue;
    color: $white;
    padding: 5rem 1rem;

    .services-container {
      max-width: 1140px;
      margin: auto;

      .title {
        color: $white;
        padding: 0rem 1rem;
      }

      .service-icon-and-text {
        display: flex;
        background: $dark-blue;
        align-items: center;
        padding: 2rem;
        margin: 1rem;

        @include all-mobile-devices {
          flex-direction: column;

          .service-icon {
            display: flex;
            justify-content: center;

            img {
              max-width: 70%;
              align-self: center;
            }
          }
        }

        .service-icon {
          flex: 1;
          padding: 1rem;
        }

        .service-text {
          flex: 2;
          padding: 1rem;
          ul, p {
            color: inherit;
          }
        }
      }
    }
  }

  .bullets {
    background: $red;
    padding: 5rem 2rem;
    color: $white;
    
    .service-bullets {
      @include boxedContent;
      p {
        color: inherit;
      }
      li{
        line-height: 2rem;
      }
    }
  }
}
